@page
@model IndexModel

@{
    ViewData["Title"] = "Главная страница";
}

<div class="align-content-center">
    <div class="text-center">
        <h2>Интернет-магазин клавиатур "Клава РФ"</h2>
        <img src="media/Utils/logo.jpg" alt="Логотип компании"><br/>
        <button class="btn-primary" onclick="window.location.href = 'https://localhost:7159/Products/Products'">Смотреть каталог</button>
    </div>
</div>