@page
@model PrivacyModel
@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт создан студентом ГУАП Марковым Констнтином</p>
<p> По вопросом писать в телеграм: Proxy_Authentication_Required</p>
